*
{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", Arial, sans-serif; 
    background: url('bg.png') no-repeat center center fixed;
    background-size: cover;
}
.Header
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background-color: rgb(44, 190, 134);
}
.SearchBar
{
    font-size: 16px;
    padding: 6px;
    border-radius: 10px;
    margin-left: 128px;
}
.SearchBar:focus
{
    outline: none;
    border: 2px solid red;
}
.SearchBar i
{
    position: relative;
    left: -26px;
}
.nav
{
    margin:24px 56px;
}
.nav a:not(:last-child)
{
    display: inline-block;
    margin-left: 18px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav a:last-child
{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 8px 24px;
    font-size: 20px;
    border-radius: 9px;
    margin-left: 36px;
    text-align: center;
}
.center
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}
.center p
{
    color: white;
    font-size: 64px;
    font-weight: bold;
}
